<!DOCTYPE html>
<html>
<head>
    <title>Add Class</title>
</head>
<body>
    <h1>Add Class</h1>
    <form method="POST">
        <label for="id">Class ID:</label>
        <input type="text" id="id" name="id"><br>
        <label for="number">Number:</label>
        <input type="text" id="number" name="number"><br>
        <label for="class_teacher">Class Teacher:</label>
        <input type="text" id="class_teacher" name="class_teacher"><br>
        <input type="submit" value="Add Class">
    </form>
    <a href="/classes">Back to Classes</a>
</body>
</html>
