<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
</head>
<body>
    <h1>Add Course</h1>
    <form method="POST">
        <label for="id">Course ID:</label>
        <input type="text" id="id" name="id"><br>
        <label for="credit">Credit:</label>
        <input type="text" id="credit" name="credit"><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Add Course">
    </form>
    <a href="/courses">Back to Courses</a>
</body>
</html>
