<!DOCTYPE html>
<html>
<head>
    <title>Add Major</title>
</head>
<body>
    <h1>Add Major</h1>
    <form method="POST">
        <label for="id">Major ID:</label>
        <input type="text" id="id" name="id"><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="number">Number:</label>
        <input type="text" id="number" name="number"><br>
        <input type="submit" value="Add Major">
    </form>
    <a href="/majors">Back to Majors</a>
</body>
</html>
